 * {
   padding: 0;
   margin: 0;
 }
 
 body {
   height: 100%;
   width: auto;
 }
 
 .container {
   height: 100%;
   width: 100%;
 }
 
 .navbar ul {
   justify-content: flex-start;
   display: flex;
   list-style: none;
   width: 100%;
   background-color: black;
   position: fixed;
 }
 
 .navbar li #about {
   position: fixed;
   margin-left: 80%;
   width: auto;
   font-size: 10px;
   margin-top: 5px;
 }
 
 .navbar li #line {
   display: flex;
   margin-left: 100%;
 }
 
 nav ul li a {
   text-decoration: none;
   color: white;
   font-weight: 600;
   text-transform: uppercase;
 }
 
 section {
   background-image: url("bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
 }
 
   section a {
   color: yellow;
   font-weight: 700;
   list-style: none;
   text-decoration: none;
   font-size: 20px;
   text-align: center;
   position: relative;
   text-align: center;
 }
 
 section h1 {
   font-family: monospace;
   color: white;
   font-size: 20px;
   position: relative;
   text-align: center;
 }

section a {
  margin-left: 30px;
}
